@using MathEditor.Components.DialogViews
@using MathEditor.Services
@implements IDisposable;

<div class="toolbar">
        <div class="left">
                <button class="menu-button @(_showContextMenu ? "visible" : "")" title="Open Menu"
                        @onclick="() => _showContextMenu = !_showContextMenu">
                        <img src="icons/icon_menu.svg" alt="menu-icon"/>
                        <span class="title">MathEditor</span>
                </button>  
        </div>


        <div class="center">
                <button class="tool-button @(Editor.Mode == Editor.EditorMode.Pan ? "active" : "")" title="Pan"
                        @onclick="() => Editor.SetMode(Editor.EditorMode.Pan)">
                        <img src="icons/icon_pan.svg" alt="pan-icon"/>
                </button>
                <button class="tool-button @(Editor.Mode == Editor.EditorMode.CreateTextField ? "active" : "")" title="Create New TextField"
                        @onclick="() => Editor.SetMode(Editor.EditorMode.CreateTextField)">
                        <img src="icons/icon_create-text.svg" alt="crate-text-icon"/>
                        <span class="shortcut">T</span>
                </button>
                <button class="tool-button @(Editor.Mode == Editor.EditorMode.CreateMathField ? "active" : "")" title="Create New MathField"
                        @onclick="() => Editor.SetMode(Editor.EditorMode.CreateMathField)">
                        <img src="icons/icon_create-math.svg" alt="create-math-icon"/>
                        <span class="shortcut">M</span>
                </button>
        </div>
</div>

<div class="context-menu @(_showContextMenu ? "visible" : "")">
        <input type="file" @ref="_fileInput" style="display:none"
               @onchange="e => Editor.LoadFile(e, _fileInput)" />
        
        <button @onclick="_ => Editor.OpenFilePicker(_fileInput)">
                <img src="icons/icon_open-file.svg" alt="open-file"/>
                Open File
        </button>
        <button @onclick="Editor.ShowSaveDialog">
                <img src="icons/icon_save-file.svg" alt="save-file"/>
                Save File
        </button>
        <button @onclick="_ => Editor.ToggleTheme()">
                <img src="icons/icon_save-file.svg" alt="toggle-theme"/>
                Toggle Theme
        </button>
        <button @onclick="ShowClearConfirmation">
                <img src="icons/icon_save-file.svg" alt="toggle-theme"/>
                Clear Canvas
        </button>
        <button @onclick="Editor.OpenNewTab">
                <img src="icons/icon_save-file.svg" alt="toggle-theme"/>
                New File
        </button>
</div>


@code {
        private bool _showContextMenu;

        private ElementReference _fileInput;

        protected override void OnInitialized() => Editor.OnStateChanged += StateHasChanged;
        public void Dispose() => Editor.OnStateChanged -= StateHasChanged;


        private void ShowClearConfirmation()
        {
                var parameters = new DialogParams
                {
                        ["TitleText"] = "Clear Canvas",
                        ["Text"] = "Do you really want to clear the canvas? Unsaved " +
                                   "changes will not be recoverable.",
                        ["OnConfirm"] = Editor.ClearCanvas
                };
                Editor.ShowDialog(typeof(ConfirmationDialogView), parameters);
        }
}