@page "/"
@using MathEditor.Components
@using MathEditor.Services

@inject IJSRuntime JS
@inject Editor Editor;
@inject Camera Cam;

<div class="canvas-container" tabindex="0"
     @onpointerdown="OnPointerDown"
     @onpointermove="OnPointerMove"
     @onpointerup="OnPointerUp"
     @onwheel:preventDefault
     @onwheel="OnWheel"
     @onkeydown="OnKeyDown">
    
    
    @* Grid *@
    <svg class="grid @(Editor.Mode == Editor.EditorMode.Pan ? _panning ? "panning" : "pan" : "")" 
         width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <pattern id="smallGrid"
                     width="@F(BaseCellSize)"
                     height="@F(BaseCellSize)"
                     patternUnits="userSpaceOnUse"
                     patternTransform="translate(@F(Cam.PanX) @F(Cam.PanY)) scale(@F(Cam.Zoom))">
                
                <path d="M 0 0 L @F(BaseCellSize) 0" fill="none" stroke="#00000066" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
                <path d="M 0 0 L 0 @F(BaseCellSize)" fill="none" stroke="#00000066" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
            </pattern>

            <pattern id="bigGrid"
                     width="@F(BaseCellSize * 5)"
                     height="@F(BaseCellSize * 5)"
                     patternUnits="userSpaceOnUse"
                     patternTransform="translate(@F(Cam.PanX) @F(Cam.PanY)) scale(@F(Cam.Zoom))">
                
                <rect width="@F(BaseCellSize * 5)" height="@F(BaseCellSize * 5)" fill="transparent" />

                <path d="M 0 0 L @F(BaseCellSize * 5) 0" fill="none" stroke="#00000088" stroke-width="1" vector-effect="non-scaling-stroke"/>
                <path d="M 0 0 L 0 @F(BaseCellSize * 5)" fill="none" stroke="#00000088" stroke-width="1" vector-effect="non-scaling-stroke"/>
            </pattern>
        </defs>

        <rect width="100%" height="100%" fill="url(#smallGrid)" />
        <rect width="100%" height="100%" fill="url(#bigGrid)" />
    </svg>

    
    @* View Handling *@
    <div class="camera" style="@CameraStyle">
        @foreach (var field in Fields)
            @FieldViewResolver.Resolve(field)
    </div>
    
    
    @* Selection Box handling *@
    @if (_isSelecting || _isFadingSelection)
    {
        <div class="selection-box @(_isFadingSelection ? "fade-out" : "")"
             style="@SelectionBoxStyle">
        </div>
    }
    
    
    @* Save Dialog *@
    <SaveFileDialog @ref="Editor.SaveDialog" OnSave="SaveFile"></SaveFileDialog>
</div>