@page "/"
@using MathEditor.Components
@using MathEditor.Models
@using MathEditor.Services

@inject IJSRuntime JS
@inject EditorState Editor;
@inject Camera Cam;

<div class="canvas-container" tabindex="0"
     @onpointerdown="OnPointerDown"
     @onpointermove="OnPointerMove"
     @onpointerup="OnPointerUp"
     @onwheel:preventDefault
     @onwheel="OnWheel"
     @onkeydown="OnKeyDown">

    <div class="grid @(Editor.Mode == EditorMode.Pan ? _panning ? "panning" : "pan" : "")"
         style="@GridStyle">
    </div>
    
    <div class="camera" style="@CameraStyle">
        @foreach (var field in Fields)
        {
            if (field is TextField tf)
            {
                <TextFieldView Field="tf"/>
            }
        }
    </div>
    
    @if (_isSelecting || _isFadingSelection)
    {
        <div class="selection-box @(_isFadingSelection ? "fade-out" : "")"
             style="@SelectionBoxStyle">
        </div>
    }
</div>